{
  "processors": ["stylelint-processor-html"],
  "extends": "stylelint-config-standard",
  "defaultSeverity": "error",
  "rules": {
    "selector-list-comma-newline-after": null,
    "number-leading-zero": "never",
    "selector-pseudo-element-colon-notation": "single",
    "no-empty-source": null,
    "block-closing-brace-newline-after": ["always", {
      "ignoreAtRules": ["if", "else"]
    }],
    "at-rule-empty-line-before": ["always", {
      "except": [
        "blockless-after-same-name-blockless",
        "first-nested"
      ],
      "ignoreAtRules": ["after-comment", "else"]
    }],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["include", "mixin", "each", "for", "extend", "if", "else", "content"]
    }]
  }
}
